header {
    background-color: rgb(249, 233, 245);
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #f4cde1;
    padding: 5px;
    text-align: center;
}

nav a {
    color: black;
    text-decoration: none;
}

nav li {
    display: inline;
    margin: 0 40px;
}

nav a:hover {
    background-color: #f3a9c4; 
    padding: 5px 10px; 
    border-radius: 10px;
    text-decoration: none; 
}

header h1{
    font-size: 60px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header nav{
     font-size: 22px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
