

header {
    background-color: rgb(218, 212, 212);
    padding: 5px;
    text-align: center;
}

nav {
    background-color: white;
    padding: 5px;
    border-radius: 26px;
    max-width: 1000px; 
    text-align: center;
    margin: auto; 
}

nav a {
    color: black;
    text-decoration: none;
}

nav li {
    display: inline;
    margin: 40px;
}

nav a:hover {
    background-color:rgb(247, 238, 238); 
    padding: 10px 10px; 
    border-radius: 10px;
    text-decoration: none; 
}

header h1{
    font-size: 70px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header nav{
    font-size: 28px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.rainbow {
    height: 55px;
    background: linear-gradient(
        to right,
        #f9d423,  
        #ff6f31,  
        #ff3131,  
        #008cff,  
        #16d96b   
    );
    border-radius: 16px;
}

body {
    background-color: white; 
}

main { 
    margin: 50px auto;    
    padding: 40px;
    background-color: #ede9e9; 
    box-shadow: 0 0 100px black; 
    max-width: 90%;
}

main h2{
     font-size: 37px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

main p {
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

main h3{
    font-size: 26px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
     margin-top: 54px;
}

main h4{
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

main hr{
    height: 8px;
    background: linear-gradient(
        to right,
        #f9d423,  
        #ff6f31,  
        #ff3131,  
        #008cff,  
        #16d96b   
    );
}

main ul {
    list-style: none;
    padding-left: 0;
}

main  li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


main ul li::before {
    content: "✦";  
    position: absolute;
    left: 2px;
    color: #e0d206; 
    font-size: 18px;
}

.Home-img {
    width: 340px;
    float: right;
    border: 20px solid white;
    background: white;
    padding-bottom: 80px;
    margin-right: 35px;
    box-shadow: 0 4px 10px black;
}

.photo-row img {     
    margin: 10px;      
    display: inline-block;
    border: 20px solid white;
    background: white;  
    padding-bottom: 60px;
    box-shadow: 0 4px 10px black;
    width: 220px;      
    height: 260px;           
}

.photo-row {
    text-align: center; 
}

.polaroids:hover {
  transform: scale(1.22);
}

.history-photo {
  display: block;
  width: 900px;
  margin: auto;
  box-shadow: 0 3px 25px black;
}

.quote{
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-style: italic;
}

main section{
  background-color: #fcfbf7;
  padding: 15px;
  margin: 22px;
  border-radius: 12px;
  box-shadow: 0 3px 15px black;
  padding-left: 50px;
  padding-bottom: 50px;
}

.center{
    text-align: center;
}

.logo-img{
    width: 300px;
    float: right;
    margin-right: 38px;
    margin-top: -150px;
    border-radius: 20px;
}

.feedback {
  line-height: 2;
  background-color: #fcf7f7;
  padding: 50px;
  margin: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 50px;
  padding-bottom: 50px;
  border-radius: 8px;
  box-shadow: 0 3px 15px black;
}

.feedback input[type="radio"] {
 transform: scale(1.3);
 margin-right: 10px;

}

.feedback textarea {
  width: 450px;
  height: 100px;
}

.feedback input[type="text"],
.feedback input[type="email"]{
    width: 190px;
    height: 25px;
}

.feedback label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  margin-right: 50px;

}

.feedback input[type="submit"] {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
}

.feedback fieldset {
  border: 3px dotted black;
  width: 85%;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  padding-top: 1px;
  padding-bottom: 40px;
  text-align: center;
}

.feedback legend {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 28px;
}

footer {
    background-color: rgb(218, 212, 212);
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

