@charset "UTF-8";

html {
   background-image: url("../images/babydriverposter.png");
   background-size: 580px 900px;
   background-repeat: no-repeat;
   background-position: 200px 10px;
   background-color: black;
}

header,
ul {
   color: rgb(247, 203, 169);
   font-family: "Noto Sans JP", sans-serif;
   list-style-type: none;
   margin-left: 278px;
   margin-top: 24px;
   width: 200px;
   text-align: right;
   font-weight: 700;
   transform: scaleX(0.9);
}

li{
   margin-bottom: 9px;
}

.large {
   font-size: 23px;
   letter-spacing: -1px;
}

.small {
   font-size: 16px;
   letter-spacing: -1.5px;
}

.xtr-small {
   font-size: 10px;
   letter-spacing: -0.5px;
}

main{
   color: white;
}

footer{
   color: white;
}