@charset "UTF-8";

html {
   background-image: url("../images/babydriverposter.png");
   background-size: 580px 900px;
   background-repeat: no-repeat;
   background-position: center;
   background-color: black;
   background-position-y: 60px;
}

.poster {
    width: 600px;        
    height: 1000px;       
    position: relative; 
    margin: auto;      
}

/* cast list positioning and style*/
header,
ul {
   position: absolute; 
   color: rgb(247, 203, 169);
   font-family: "Noto Sans JP", sans-serif;
   list-style-type: none;
   text-align: right;
   transform: scaleX(0.9);
   margin-left: 185px;
   margin-top: 32px;
   width: 200px;
   font-weight: 700;
}

/* spacing for individual item */
li {
   margin-bottom: 9px;
}

/* last name sizing */
.large {
   font-size: 23px;
   letter-spacing: -1px;
}

/* first name sizing*/
.small {
   font-size: 16px;
   letter-spacing: -1.5px;
}

/* tiny words sizing*/
.xtr-small {
   font-size: 10px;
   letter-spacing: -0.5px;
}

/* title area positining and colour*/
main {
   position: absolute;
   color: rgb(244, 222, 177);
   margin-top: 660px;
   margin-left: 35px;
}

/* top line style and positioning*/
h2 {
   font-family: "Saira Stencil One", sans-serif;
   font-size: 8.5px;
   line-height: 0.1;
   letter-spacing: -0.1px;
   margin-bottom: 0px; 
}

/* movie name style and positioning*/
h1 {
   font-family: "Saira Stencil One", sans-serif;
   font-size: 70px;
   line-height: 0.8;
   margin-top: 0;
   margin-bottom: 5px;
   letter-spacing: 1.2px;
   transform: scaleY(1.4);
}

/* rest of the title area */
main p {
   font-family: "Noto Sans JP", sans-serif;
   font-weight: 700;
   font-size: 16px;
   letter-spacing: -0.5px;
   margin-top: 0;
}

/* director name position */
.director {
   margin-bottom: 22px;
}

/* slogan position */
.slogan {
   margin-top: 16px;
}

/* production area position and style*/
footer {
   position: absolute;
   margin-left: 32px;
   margin-top: 878px; 
   color: rgba(73, 54, 54, 0.686);
   font-family: "Noto Sans JP", sans-serif;
   font-size: 7.5px;
   font-weight: 700;
   letter-spacing: -0.75px;
   text-align: center;
   transform: scaleY(2);
   line-height: 0.9;
}

/* small stacked word */
.stack {
  font-size: 4.8px;
  letter-spacing: 0.2px;
  display: inline-block;
  text-align: right; 
  line-height: 0.7; 
}

/* links for movie */
footer nav ul {
  font-size: 20px;
  text-align: center;
  margin-left: 140px;
}

